<div id="logdiv">
        <div id="centerdiv">
        <h3 id="title">Member Login</h3>
        <hr id="whitedev">
        <form id="logform" action="/login" method="POST">
            <div id="inpdiv">
            <input id="name" type="text" name="name" placeholder="username">
            <hr id="graydev">
            <input id="password" type="password" name="password" placeholder="password">
            
        </div>
        <br>
            <button id="login" class="btn" type="submit">Login</button>
            
        </form>
    </div>
    </div>