#logdiv {
    background-color: rgb(243, 243, 240);
    width: 400px;
    margin: auto;
}

#centerdiv {
    width: 83%;
    margin: 0 auto;
}

#title {
    padding-top: 35px;
    color: rgb(167, 167, 167);
}

#name {
    border: 0pt;
    width: 250px;
    height: 45px;
    padding: 0;
    padding-left: 40px;
    font-style: italic;
    color: black;
    outline-width: 0;
}
#nameIMG {
    width: 30px;
    position: absolute; 
    left: 15px;
    padding-top: 8px;
}

#password {
    border: 0pt;
    width: 250px;
    height: 45px;
    padding: 0;
    padding-left: 40px;
    font-style: italic;
    color: black;
    outline-width: 0;

}
#passwordIMG {
    width: 30px;
    position: absolute; 
    left: 15px;
    padding-top: 8px;
}

#login {
    width: 100%;
    border: 0;
    width: 330px;
    height: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15pt;
    background-color: rgb(246, 204, 18);
    margin-bottom: 40px;
}

#inpdiv {
    position: relative;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 1pt solid rgb(206, 206, 206);
    margin-bottom: 15px;
}

#graydev {
    padding: 0;
    margin: 0;
    width: 100%;
    margin: auto;
    border: 0.2pt solid rgb(206, 206, 206);
}

#whitedev {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.5pt solid rgb(255, 255, 255);
}

#error {
    text-align: center;
    color: rgb(233, 2, 2);
}